@use "sass:string";
@use "mixins/images";

/*
 * Images
 */

img.object-fit {
    @each $fit in $object-fit-values {
        &-#{$fit} {
            object-fit: $fit;
            font-family: "object-fit: #{$fit};";
        }
    }
}

@if $object-position-classes {
    img.object-pos {
        @each $x in (left, center, right) {
            @each $y in (top, center, bottom) {
                &-#{string.slice($x, 1, 1)}#{string.slice($y, 1, 1)} {
                    $position: $x $y;
                    object-position: $position;

                    @each $fit in $object-fit-values {
                        &.object-fit-#{$fit} {
                            font-family: "object-fit: #{$fit}; object-position: #{$position};";
                        }
                    }
                }
            }
        }
    }
}

.bg-img {
    @include images.background;
}
