@use 'sass:list';
@use 'sass:selector';
@use './lists';

@function last($selectors, $prepend: null, $append: null) {
    @for $i from 1 through list.length($selectors) {
        $s-group: list.nth($selectors, $i);
        @if $prepend {
            $s-group: lists.insert-nth($s-group, list.length($s-group), $prepend);
        }
        @if $append {
            $s-group: selector.append($s-group, $append);
        }
        $selectors: list.set-nth($selectors, $i, $s-group);
    }

    @return $selectors;
}
