@use 'sass:string';
@use '../mixins/images';
@use '../config' as c;

$object-fit-values: c.$object-fit-values !default;
$object-position-classes: c.$object-position-classes !default;

/*
 * Images
 */

.object-fit {
    @each $fit in $object-fit-values {
        &-#{$fit} {
            object-fit: $fit;
            font-family: 'object-fit: #{$fit};';
        }
    }
}

@if $object-position-classes {
    .object-pos {
        @each $x in (left, center, right) {
            @each $y in (top, center, bottom) {
                &-#{string.slice($x, 1, 1)}#{string.slice($y, 1, 1)} {
                    $position: $x $y;
                    object-position: $position;

                    @each $fit in $object-fit-values {
                        &.object-fit-#{$fit} {
                            font-family: 'object-fit: #{$fit}; object-position: #{$position};';
                        }
                    }
                }
            }
        }
    }
}

.bg-img {
    @include images.background;
}
