@use "sass:list";
@use '../config' as c;
@use '../mixins/convenience' as mix;
@use '../mixins/layout';

$sizes: c.$sizes !default;
$spacings: c.$spacings !default;
$borders: c.$borders !default;
$z-range: c.$z-range !default;

/*
 * Basic
 */

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.static {
    position: static;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.transparent {
    opacity: 0;
}

.content-box {
    box-sizing: content-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
    border-spacing: 0;
}

/*
 * Sizes
 */

@each $name, $size in $sizes {
    @include layout.size($name, $size);
}

.max-width-none {
    max-width: none;
}

.max-height-none {
    max-height: none;
}

/*
 * Margins
 */

@each $name, $value in $spacings {
    @include layout.margins($name, $value);
}

/*
 * Paddings
 */

@each $name, $value in $spacings {
    @include layout.padding($name, $value);
}

/*
 * Positioning
 */

@each $name, $value in $spacings {
    @include layout.positioning($name, $value);
}

.abs-center {
    @extend .absolute;
    top: 50%; left: 50%;
    @include mix.transform(translate(-50%, -50%));
}

.abs-center-h {
    @extend .absolute;
    left: 50%;
    @include mix.transform(translateX(-50%));
}

.abs-center-v {
    @extend .absolute;
    top: 50%;
    @include mix.transform(translateY(-50%));
}

/*
 * Z-Axis
 */

@include layout.z-range(list.nth($z-range, 1), list.nth($z-range, 2));

.front {
    @extend .relative;
    z-index: list.nth($z-range, 2) + 1;
}

.back {
    @extend .relative;
    z-index: list.nth($z-range, 1) - 1;
}

/*
 * Borders
 */

@each $name, $styles in $borders {
    @include layout.border($name, $styles);
    @include layout.h-line($name, $styles);
}

.border-between-v {
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;

    &:last-child {
        border-bottom-width: 0;
    }
}

.border-between-h {
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;

    &:last-child {
        border-right-width: 0;
    }
}

.border-around-v {
    border-left-width: 0;
    border-right-width: 0;

    &:nth-child(n + 2) {
        border-top-width: 0;
    }
}

.border-around-h {
    border-top-width: 0;
    border-bottom-width: 0;

    &:nth-child(n + 2) {
        border-left-width: 0;
    }
}
