@use '../functions/sides';
@use '../mixins/convenience' as mix;

/*
 * Media Queries
 */

.hide {
    @include mix.mq {
        display: none;
    }
}

.absolute {
    @include mix.mq {
        position: absolute;
    }
}

.hover-display {
    @include mix.mq {
        @include mix.no-hover {
            display: none;
        }
    }
}

.float-none {
    @include mix.mq {
        float: none;
    }
}

.table-columns {
    @include mix.mq($queries: (gt: min)) {
        @include mix.table-columns;
    }
}

.flex-row {
    @include mix.mq {
        display: flex;
        flex-direction: row;

        &.inline-flex {
            display: inline-flex;
        }
    }
}

.flex-col {
    @include mix.mq {
        display: flex;
        flex-direction: column;

        &.inline-flex {
            display: inline-flex;
        }
    }
}

.inline-flex {
    @include mix.mq {
        display: inline-flex;
    }
}

.full-width {
    @include mix.mq {
        width: 100%;
    }
}

.auto-width {
    @include mix.mq {
        width: auto;
        min-width: auto;
        max-width: none;
    }
}

.auto-height {
    @include mix.mq {
        height: auto;
        min-height: auto;
        max-height: none;
    }
}

.margin-auto {
    @include sides.all using ($side) {
        @include mix.mq {
            margin-#{$side}: auto;
        }
    }
}

.margin-0 {
    @include sides.all using ($side) {
        @include mix.mq {
            margin-#{$side}: 0;
        }
    }
}

.padding-0 {
    @include sides.all using ($side) {
        @include mix.mq {
            padding-#{$side}: 0;
        }
    }
}

.border-0 {
    @include sides.all using ($side) {
        @include mix.mq {
            border-#{$side}-width: 0;
        }
    }
}
