// The placeholder classes here are for styles that should be overridden by any other class. They should go first in the stylesheet.

@use "config" as v;

//
// Display
//

%block {
    display: block;
}

%inline {
    display: inline;
}

%inline-block {
    display: inline-block;
}

%table {
    display: table;
}

%row {
    display: table-row;
}

%cell {
    display: table-cell;
}

%hidden {
    display: none;
}

//
// Positioning
//

%relative {
    position: relative;
}

%absolute {
    position: absolute;
}

%fixed {
    position: fixed;
}

//
// Misc
//

%full-width {
    width: 100%;
}

%overflow-v {
    overflow: visible;
}

%overflow-h {
    overflow: hidden;
}

%font-0 {
    font-size: 0;

    > * {
        font-size: v.$base-font-size;
    }
}

%t-inherit {
    transition: inherit;
}
