// extending from
@use "./placeholders";
@use "./layout";

$density: 0.3 !default; // opacity of shadow at center
$reach: 0% !default; // relative radius of the center opacity, before it begins fading
$overflow: 50% !default; // how far the shadow extends beyond the element, relative to the size of the element

/*
 * Shadows
 */

.radial-shadow {
    @extend %relative, %overflow-v;

    &::before {
        content: "";
        position: absolute;
        top: -$overflow;
        left: -$overflow;
        right: -$overflow;
        bottom: -$overflow;
        background: -webkit-radial-gradient(ellipse closest-side, rgba(black, $density) $reach, transparent);
        background: radial-gradient(ellipse closest-side, rgba(black, $density) $reach, transparent);
        z-index: 0;
    }

    & > * {
        @extend .z-1;
    }
}
