@use 'sass:map';
@use '../config' as c;
@use '../mixins/layout';

// extending from
@use './layout' as l;

$breakpoint: map.get(c.$bp, mobile) or 600px !default;
$padding-mobile: map.get(c.$spacings, m) or c.$default-spacing or 30px !default;
$padding-desktop: map.get(c.$spacings, l) or $padding-mobile * 2 !default;
$content-bp: map.keys(c.$bp) !default;

/*
 * Wrappers
 */

.wrapper-padding {
    padding-left: $padding-desktop;
    padding-right: $padding-desktop;

    @media screen and (max-width: $breakpoint) {
        padding-left: $padding-mobile;
        padding-right: $padding-mobile;
    }
}

.content-wrapper {
    @extend .clearfix;
    @include layout.wrapper($content-bp);
}

.text-wrapper {
    box-sizing: content-box;
    max-width: c.$base-line-length;
}

.unwrap {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.stretch {
    @extend .unwrap;
    padding-left: calc(50vw - 50%);
    padding-right: calc(50vw - 50%);
}
